.SeriesIndex_Container {
  display: flex;
  flex-direction: column;
}

.SeriesIndex_Searcher {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 500px;
}

.SeriesIndex_Series {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.SeriesIndex_IssueCover {
  padding: 5px;
}

.SeriesIndex_Paginator {
  align-self: center;
}

.IssueShow_Container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.IssueShow_IssueCover {
  height: auto;
  width: 320px;
}

.IssueShow_Metadata {
  position: relative;
  width: 50%;
}