.SeriesIndex_Container {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  padding: 0 16px;
}

.SeriesIndex_Series {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1280px;
  padding: 0 16px;
}

.SeriesIndex_IssueCover {
  padding: 5px;
}

.SeriesIndex_Paginator {
  align-self: center;
}

.IssueShow_Container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.IssueShow_IssueCover {
  height: auto;
  width: 320px;
}