// Place all the styles related to the admin/merchandising/comic_scrollers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.AdminComicScrollers_IssueImages {
  max-height: 250px;
}

.IssueIndex_SearchResults {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}