@import 'base/mixins';
// @import 'base/globals';
@import 'styles/issues';
@import 'styles/static_pages';

@import 'materialize';
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.App_Container {
  max-width: 1280px;
  padding: 16px;
}

.App_FooterContainer {
  text-align: center;
  margin: 100px auto;
}
