@import 'base/mixins';
// @import 'base/globals';
@import 'styles/issues';
@import 'styles/series';
@import 'styles/publishers';
@import 'styles/static_pages';

@import 'materialize';
@import "https://fonts.googleapis.com/icon?family=Material+Icons";


// Top Level Layout Styles
.App_Container {
  max-width: 1280px;
  padding: 16px;
}

.ComicScroller_Container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 675px;
}

.ComicScroller_Title {
  align-self: flex-start;
  font-weight: 500;
  text-transform: uppercase;
}

.App_FooterContainer {
  margin: 100px auto;
  text-align: center;
}


// Materialize Overwrites
nav.content-nav {
  background: #fff;
  box-shadow: none;
  margin-bottom: 20px;
  padding-left: 10px;
}

// overwriting breadcrumb text color
.content-nav .breadcrumb,
.content-nav .breadcrumb:before {
  color: #777;
  opacity: 0.7;
}

// overwriting breadcrumb text color
.content-nav .breadcrumb:last-child {
  color: #000;
}
