<div class="SeriesIndex_Container">
  <div id="comicsearcher"></div>
</div>
<div class="SeriesIndex_Container">
  <div class="comic-scroller" type="new-releases"></div>
</div>
<div class="SeriesIndex_Container">
  <div class="comic-scroller" type="image-new-releases"></div>
</div>