<nav class="content-nav">
  <div class="nav-wrapper">
    <div class="col s12">
      <%= link_to @serie.publisher.name, "#", class: "breadcrumb" %>
      <%= link_to @serie.title, series_path(@serie), class: "breadcrumb" %>
    </div>
  </div>
</nav>
<div class="serieShow_Container">
  <div class="serieShow_Metadata">
    <h1><%= @serie.title %></h1>
  </div>
  <% @serie.issues.each do |issue| %>
    <%= link_to(image_tag("#{issue.external_image_url}", class: "SeriesIndex_IssueCover responsive-img"), issue_path(issue)) %>
  <% end %>
</div>
