<div class="footer">
  <span><%= link_to "About", "/about" %></span>
  <span> · </span>
  <span><a href="mailto:#">Contact Us</a></span>
  <span> · </span>
  <span><%= link_to "Terms of Use", "/terms" %></span>
  <span> · </span>
  <span><%= link_to "Privacy Policy", "/privacy" %></span>
</div>
