<!DOCTYPE html>
<html>
  <head>
    <title>Wcsir</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">WCSIR REBORN</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#">Sign In</a></li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
