<% scroller ||= @scroller %>
<% items = scroller.items.joins("INNER JOIN issues on issues.id = comic_scroller_items.issue_id").select("comic_scroller_items.id", "issues.id as issue_id", "issues.external_image_url").order("comic_scroller_items.position asc") %>


<div id="scrollcreator"
     data-scroller='<%= scroller.to_json %>'
     data-items='<%= items.to_json %>'
></div>